.scroll-content-wrapper {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to left, transparent, #111110);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to right, transparent, #111110);
  }
}
