@import "tailwindcss";

:root {
    --stripe-height: 7px;
}

@keyframes stripe-slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 7px 0;
    }
}

.with-stripes {
    --bg: #ffffff;
    --text: rgb(0, 0, 0);
    --border: #0c0807;
    --strip-border: rgb(183, 54, 54);
    --hover-bg: #ffefea;
    --hover-text: rgb(0, 0, 0);
    --hover-border: #0c0807;

    --hover-strip-border: rgb(183, 54, 54);
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 6px;
    transition:
        color 0.5s ease-out,
        border 0.5s ease-out,
        background-color 0.5s ease-out;
    position: relative;

    &::after {
        content: '';
        display: block;
        height: var(--stripe-height);
        width: 100%;
        background-image: repeating-linear-gradient(45deg,
                var(--strip-border),
                var(--strip-border) 1px,
                transparent 2px,
                transparent 5px);
        backface-visibility: hidden;
        border-top: 1px solid var(--border);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: var(--stripe-height) var(--stripe-height);
        transition: border 0.5s ease-out;
    }

    &:hover {
        background-color: var(--hover-bg);
        color: var(--hover-text);
        border-color: var(--hover-border);

        &::after {
            background-image: repeating-linear-gradient(45deg,
                    var(--hover-strip-border),
                    var(--hover-strip-border) 1px,
                    transparent 2px,
                    transparent 5px);
            border-top: 1px solid var(--hover-border);
            animation: stripe-slide 0.2s infinite linear forwards;
        }
    }
}

.btn {
    flex-shrink: 0;
    font-weight: 600;
    display: inline-flex;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 14px;
    padding: 10px 18px 16px;
    margin-bottom: 8px;

    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 6px;
    transition:
        color 0.5s ease-out,
        border 0.5s ease-out,
        background-color 0.5s ease-out;
    position: relative;

    &::after {
        content: '';
        display: block;
        height: var(--stripe-height);
        width: 100%;
        background-image: repeating-linear-gradient(45deg,
                var(--strip-border),
                var(--strip-border) 1px,
                transparent 2px,
                transparent 5px);
        backface-visibility: hidden;
        border-top: 1px solid var(--border);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: var(--stripe-height) var(--stripe-height);
        transition: border 0.5s ease-out;
    }

    &:hover {
        background-color: var(--hover-bg);
        color: var(--hover-text);
        border-color: var(--hover-border);

        &::after {
            background-image: repeating-linear-gradient(45deg,
                    var(--hover-strip-border),
                    var(--hover-strip-border) 1px,
                    transparent 2px,
                    transparent 5px);
            border-top: 1px solid var(--hover-border);
            animation: stripe-slide 0.2s infinite linear forwards;
        }
    }

    svg {
        fill: currentColor;
    }

    --bg: #c1a69c;
    --text: white;
    --border: #755448;
    --strip-border: white;
    --hover-bg: #aa8071;
    --hover-text: white;
    --hover-border: #0c0807;
    --hover-strip-border: white;

    &.button--soft {
        --bg: transparent;
        --text: #755448;
        --border: #c1a69c;
        --strip-border: #aa8071;
        --hover-bg: transparent;
        --hover-text: #0c0807;
        --hover-border: #755448;
        --hover-strip-border: #755448;
    }

    &.button--alt {
        --bg: #9b9d90;
        --text: white;
        --border: #474843;
        --strip-border: white;
        --hover-bg: #5b5b57;
        --hover-text: white;
        --hover-border: #0c0807;
        --hover-strip-border: white;
    }

    &.button--strong {
        --bg: #aa8071;
        --text: white;
        --border: #0c0807;
        --strip-border: white;
        --hover-bg: #aa8071;
        --hover-text: white;
        --hover-border: #0c0807;
        --hover-strip-border: white;
    }

    svg {
        margin: 0 10px;
        width: 20px;
    }

    &.btn-ic-l {
        padding-left: 10px;
    }

    &.btn-ic-r {
        padding-right: 10px;
    }

    &-xs {
        font-size: 12px;
        padding: 5px 8px 8px;

        svg {
            margin: 0 6px;
            width: 12px;
        }

        &.btn-ic-l {
            padding-left: 4px;
        }

        &.btn-ic-r {
            padding-right: 3px;
        }

        &::after {
            height: 4px;
        }
    }

    &-sm {
        font-size: 14px;
        padding: 8px 14px 12px;

        svg {
            margin: 0 10px;
            width: 16px;
        }

        &.btn-ic-l {
            padding-left: 6px;
        }

        &.btn-ic-r {
            padding-right: 6px;
        }

        &::after {
            height: 5px;
        }
    }

    &-lg {
        font-size: 16px;
        padding: 12px 24px 18px;

        svg {
            margin: 0 10px;
            width: 24px;
        }

        &.btn-ic-l {
            padding-left: 12px;
        }

        &.btn-ic-r {
            padding-right: 12px;
        }
    }
}