@import "tailwindcss";

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100dvh;
  background-color: #e5e5e5;
  color: black;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    /* Thanks to: https://blog.spoongraphics.co.uk/freebies/8-free-seamless-vector-topographic-map-patterns */
    background-image: url("./images/topographic-map-pattern.png");
    background-size: 400px;
    opacity: 0.025;
    z-index: -1;
  }
}

button {
  cursor: pointer;
}

.transition-bounce {
  /* transition: 0.3s cubic-bezier(0.68, -0.35, 0.265, 1.05); */
  transition: 0.3s ease-in-out;
}
